fastapi==0.103.1
uvicorn==0.23.2
pymongo==4.5.0
transformers==4.33.2
spacy==3.6.1
vaderSentiment==3.3.2
torch==2.0.1
pydantic==2.3.0
python-multipart==0.0.6
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl